[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "revengc"]
	path = revengc
	url = https://github.com/gshs-ornl/revengc
[submodule "wbstats"]
	path = wbstats
	url = https://github.com/gshs-ornl/wbstats
